*,
*::before,
*::after{
    box-sizing: border-box;
}

body {
    font-size: 1.4375rem;
    font-family: 'Space Mono', sans-serif;
}

h2 {
    text-align: center;
    margin-bottom: 15px;
}

h3 {
    margin: 20px 0;
    padding-bottom: 15px;
}

h4 {
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Helper */

.show {
    display: block !important;
}

.hidden {
    display: none;
}

.selected {
    background-color: black !important;
    color: white;
}

.navbar {
    display: flex;
    padding: 18px;
}

.floating-menu {
    position: absolute;
    z-index: 2;
    width: 339px;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    background-color: white;
    display: none;
}

.floating-menu::after {
    content: '';
    display: block;
    position: absolute;
    left: -37px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.514);
}

.floating-menu li {
    margin-bottom: 15px;
}

.floating-menu a {
    text-decoration: none;
    color: #000;
}

.navbar .logo {
    font-size: 1.25rem;
    position: absolute;
    top: 18px;
    left: 10px;
    right: 0;
    text-align: center;
}

.logo a {
    text-decoration: none;
    color: black;
}

.hamburguer-menu {
    z-index: 3;
    cursor: pointer;
}

.categorias {
    font-size: 1rem;
    display: flex;
    gap: 12px;
    justify-content: center;
    margin-bottom: 20px;
}

.categorias li {
    padding: 5px 0;
    background-color: #d9d9d9;
    width: 100px;
    text-align: center;
    cursor: pointer;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin: 0 auto;
}

.project {
    position: relative;
}

.project img{
    width: 155px;
    margin: 0 auto 0 auto;
    border-radius: 10px;
    filter: brightness(50%);
}

.project-name {
    font-size: 1rem;
    position: absolute;
    z-index: 1;
    top: 50%;
    /* transform: translateY(-50%); */
    left: 3px;
    right: 3px;
    bottom:5px;
    text-align: center;
    border-radius: 10px;
    padding-top: 10px;
}

.project-description{
    font-size: .8rem;
    color: #a6a6a6;
}

.technologies img {
    width: 32px;
    border-radius: 0;
    filter: brightness(100%);
}

